body {
    margin: 0; 
    background-color:  rgb(227, 230, 230); 
  }
  

  
  h2 {
    text-align: center;
  }
  
 
  
  .table {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 13px;
    text-align: left;
    color: rgb(126, 132, 132);
  }
  
  th {
    background-color: rgb(227, 230, 230);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px;
    text-align: left;
    
  }
  
  td {
    background-color: white;
  }
  
  .fulltable {
    background-color: white;
    flex: 1;
    padding: 20px;
    border: 1px solid rgb(227, 230, 230);
    margin: 12px;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .but{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    padding: 15px;
    width: 125px;
    
  }
.table1{
    margin-top: 50px;
}




